*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
     font-family: 'Roboto', sans-serif;
}
body{
    height: auto !important;
}
.content-wrapper, .content{
    background-color:#fff !important;
}
.fondo{
    height: 100vh;
    background-image: url('../img/rename.jpg');
    background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
    overflow: hidden;
}
ul{
    list-style: none !important;
}
.anyClass{
    height: 200px !important;
    overflow-y: scroll;
}

.img{
    display: block;
    width: 300px !important;
    height: 200px !important;
    padding: 5px;
}
#frase{
    font-size: 60px;
}


#frase>span{
    color: yellow;
    font-weight: bold;
}
footer{
    position: fixed;
    width: 100%;
    text-align: left;
    bottom: 0;
 
}
